$color-primary: #fbfbf9;
$color-secondary: #591ab0;
$color-tericary: #7a15f5;

$nav-color: #46244c;
$color-fourth: #d49b54;
$color-fifth: #eee;

// fonts
$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$font-terciary: "Raleway", sans-serif;
$font-fourth: "Varela Round", sans-serif;

// Screens

$largest: 1420px;
$large: 1250px;
$medium: 960px;
$small: 660px;
$smallest: 460px;
